.container {
  margin: 0 auto;
  width: 768px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  background-color: #999;
  color: white;
  display: block;
  width: 182px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.main-title {
  text-align: center;
}

.footer {
  position: absolute;
  top: 600px;
  padding: 20px 0;
}

input {padding: 10px;
text-align: center;}

input[type=submit] {
  height: 35;
  margin-top:1px;
  margin-left : 30px;
  padding-left: 11px;
  border-radius: 11px;
  color:white;
  background-color: #1F8DD3;
  box-shadow: 11px 1px 25px #888888;}

#registration {
  color: gray; 
  background-color: #B8B8B8;
  margin-top: 90px;
  text-align: center;
  border: #B8B8B8;
  border-radius: 10px;}